html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;
  vertical-align: baseline;*/
}
html {
  height: 100%;
}
body {
  /*height: 100%;*/
  font: 18px/23px Times New roman, "GothaProLig", "DINNextCYR-Light", Arial, Tahoma, sans-serif;
  color: #000;
  background: #fff;
}
ol,
ul, li {
  list-style: none;
}
* {
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /* Keyword values */
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
a,
a:hover {
  color: #000;
  text-decoration: none;
}
input {
  -webkit-appearance: none;
}


/********************************************************/
/*                      МИКСИНГИ                        */
/********************************************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.wraper {
  background: url('../images/bg.png');
  padding: 20px 100px;
  overflow: hidden;
}


.header__top {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.header__btn-back {
  width: 180px;
  float: left;
  text-transform: uppercase;
  color: #b02020;
  font-weight: bold;
}

.header__title {
  color: #b02020;
  font-size: 50px;
  line-height: 50px;
  /*margin: 20px 0;*/
  width: 700px;
  text-align: right;
  text-transform: uppercase;
  float: left;
}

.banner__image {
  width: 100%;
  margin-bottom: 30px;
}

.posts__wrap {
  display: block;
  width: 100%;
  overflow: hidden;
}

.post {
  display: block;
  width: 880px;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.post__image {
  width: 300px;
  float: left;
}

.post__image img {
  width: 100%;
  border-radius: 5px;
}



.post__info{
  width: 580px;
  display: block; 
  padding-left: 30px;
  float: left;
  padding-top: 15px;
}

.post__title {
  font-weight: bold;
  font-size: 30px;
  color: #212121;
  margin-bottom: 20px;
}

.post__subtitle {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: lighter;
}

.post__text {
  margin-bottom: 20px;
}

.post__btn {
  width: 250px;
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 3px 4px 1px rgba(50, 50, 50, 0.16);
  /*border-image-source: 2px solid linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(225,225,225,1) 35%, rgba(164,164,164,1) 100%);*/
  
  border-radius: 5px !important;
  color: #b73838;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;

}

.post-btn__text {
  display: block;
  padding: 20px 0;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left,  rgba(184,184,184,1), rgba(221,221,221,1), rgba(184,184,184,1));
  border-width: 2px;
  background: rgb(249,249,249);
background: linear-gradient(183deg, #fff 0%, #d5d5d5 100%);
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,.96);
  display: none; /* block включит модалку */
}


.modal__image {
  width: 500px;
  margin: 200px auto 60px;
  display: block;
}

.modal-image__desc {
  text-align: center;
  margin-bottom: 100px;
}

.modal-main__title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.modal-subtitle__first{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.modal-subtitle__second{
  padding: 0 120px;
}


.modal-text {
  padding: 5px 50px;
}

.modal-text:last-child {
  margin-top: 30px;
}


.close__btn {
  width: 30px;
  height: 30px;
  background: url('../images/close.svg') no-repeat center center;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}


.modal-black {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,.94);
  color: #bfbfbf;
  text-align: center;
  display: block; /* block включит модалку */
}

.modal-black__slider {
  width: 1000px;
  height: 450px;
  display: block;
  /*background: #000;*/
  margin: 0 auto 30px;
  position: relative;
}

.modal-black__slider img {
  height: 100%;
}

.modal-black__title {
  font-size: 60px;
  line-height: 60px;
  margin: 60px 0 40px;
  color: #fff;
}

.modal-black__text{
  margin-bottom: 50px;
  font-size: 23px;
  line-height: 28px;
  padding: 0 60px;
}


.modal-black .close__btn {
  background: url('../images/krest.png') no-repeat center center;
}


.arrow__left {
  background: url(../images/arrow-left.png) no-repeat center center;
  width: 38px;
  height: 69px;
  position: absolute;
  left: 10px;
  top: 190px;
}

.arrow__right {
  background: url(../images/arrow-right.png) no-repeat center center;
  width: 38px;
  height: 69px;
  position: absolute;
  right: 10px;
  top: 190px;
}